<form [formGroup]="newUserForm" (ngSubmit)="handleSubmit()" class="w-1/2">
  <label class="form-control w-full mt-10">
    <span class="mb-2 ml-1">Username</span>
    <input
      type="text"
      placeholder="KhaledPharma221"
      class="input input-bordered w-full"
      formControlName="userName"
    />

    @if (newUserForm.get('userName')?.invalid &&
    newUserForm.get('userName')?.touched) {
    <span class="mt-1 text-error font-semibold">{{
      getErrorMessages(newUserForm.get("userName")?.errors)
    }}</span>
    }
  </label>
  <label class="form-control w-full mt-10">
    <span class="mb-2 ml-1">Email</span>
    <input
      type="text"
      placeholder="example@something.com"
      class="input input-bordered w-full"
      formControlName="email"
    />
    @if (newUserForm.get('email')?.invalid && newUserForm.get('email')?.touched)
    {
    <span class="mt-1 text-error font-semibold">{{
      getErrorMessages(newUserForm.get("email")?.errors)
    }}</span>
    }
  </label>
  <label class="form-control w-full mt-10">
    <span class="mb-2 ml-1">Password</span>
    <input
      type="password"
      class="input input-bordered w-full"
      formControlName="password"
    />
    @if (newUserForm.get('password')?.invalid &&
    newUserForm.get('password')?.touched) {
    <span class="mt-1 text-error font-semibold">{{
      getErrorMessages(newUserForm.get("password")?.errors)
    }}</span>
    }
  </label>
  <label class="form-control w-full my-10">
    <span class="mb-2 ml-1">Confirm Password</span>
    <input
      type="password"
      class="input input-bordered w-full"
      formControlName="passwordConfirmation"
    />
    @if (newUserForm.get('passwordConfirmation')?.errors?.['passwordMismatch'])
    {
    <span class="mt-1 text-error font-semibold">Passwords don't match</span>
    }
  </label>
  <div class="divider divider-neutral">Personal Information</div>
  <label class="form-control w-full my-10">
    <span class="mb-2 ml-1">First Name</span>
    <input
      type="text"
      placeholder="Khaled"
      class="input input-bordered w-full"
      formControlName="firstName"
    />
    @if (newUserForm.get('firstName')?.invalid &&
    newUserForm.get('firstName')?.touched) {
    <span class="mt-1 text-error font-semibold">{{
      getErrorMessages(newUserForm.get("firstName")?.errors)
    }}</span>
    }
  </label>
  <label class="form-control w-full mt-10">
    <span class="mb-2 ml-1">Last Name</span>
    <input
      type="text"
      placeholder="Awadallah"
      class="input input-bordered w-full"
      formControlName="lastName"
    />
    @if (newUserForm.get('lastName')?.invalid &&
    newUserForm.get('lastName')?.touched) {
    <span class="mt-1 text-error font-semibold">{{
      getErrorMessages(newUserForm.get("lastName")?.errors)
    }}</span>
    }
  </label>
  <label class="form-control w-full mt-10">
    <span class="mb-2 ml-1">Phone Number</span>
    <input
      type="text"
      placeholder="05XXXXXXXXX"
      class="input input-bordered w-full"
      formControlName="phoneNumber"
    />
    @if (newUserForm.get('phoneNumber')?.invalid &&
    newUserForm.get('phoneNumber')?.touched) {
    <span class="mt-1 text-error font-semibold">{{
      getErrorMessages(newUserForm.get("phoneNumber")?.errors)
    }}</span>
    }
  </label>
  <label class="form-control w-full mt-10">
    <span class="mb-2 ml-1"
      >Address
      <div class="badge badge-ghost">optional</div></span
    >
    <input
      type="text"
      placeholder="Al Shifaa District, Africa St"
      class="input input-bordered w-full"
      formControlName="address"
    />
  </label>
  <label class="form-control w-full my-10 mb-2 ml-1" for="gender">Gender</label>
  <select
    formControlName="gender"
    id="gender"
    class="select select-bordered w-full"
  >
    <option disabled selected>Gender</option>
    <option value="0">Male</option>
    <option value="1">Female</option>
  </select>
  @if (newUserForm.get('gender')?.invalid && newUserForm.get('gender')?.touched)
  {
  <span class="mt-1 text-error font-semibold">{{
    getErrorMessages(newUserForm.get("gender")?.errors)
  }}</span>
  }

  <div class="divider divider-neutral">Employment Information</div>
  <label class="form-control w-full mt-10 mb-2 ml-1" for="role">Role</label>
  <select
    formControlName="roleId"
    (change)="handleRoleSelect($event)"
    id="role"
    class="select select-bordered w-full"
  >
    <option disabled selected>Role</option>
    @for (role of usersMetadata?.roles; track role.id) {
    <option value="{{ role.id }}">{{ role.name }}</option>
    }
  </select>
  @if (newUserForm.get('roleId')?.invalid && newUserForm.get('roleId')?.touched)
  {
  <span class="mt-1 text-error font-semibold">{{
    getErrorMessages(newUserForm.get("roleId")?.errors)
  }}</span>
  }

  <label class="form-control w-full mt-10 mb-2 ml-1" for="branch">Branch</label>
  <select
    formControlName="branchId"
    (change)="handleBranchSelect($event)"
    id="branch"
    class="select select-bordered w-full"
  >
    <option disabled selected>Branch</option>
    @for (branch of usersMetadata?.branches; track branch.id) {
    <option value="{{ branch.id }}">{{ branch.name }}</option>
    }
  </select>
  @if (newUserForm.get('branchId')?.invalid &&
  newUserForm.get('branchId')?.touched) {
  <span class="mt-1 text-error font-semibold">{{
    getErrorMessages(newUserForm.get("branchId")?.errors)
  }}</span>
  }

  <label class="form-control w-full my-10 mb-2 ml-1" for="manager"
    >Manager</label
  >
  <select
    formControlName="managerId"
    id="manager"
    class="select select-bordered w-full"
  >
    <option disabled selected>Manager</option>
    @for (manager of managers; track manager.id) {
    <option value="{{ manager.id }}">{{ manager.fullName }}</option>
    }
  </select>
  <button
    type="submit"
    class="btn btn-info mt-7"
    [disabled]="!newUserForm.valid"
  >
    Create User
  </button>
</form>
