<form [formGroup]="newUserForm" (ngSubmit)="handleSubmit()" class="w-1/2">
  <label class="form-control w-full mt-10">
    <span class="mb-2 ml-1">Username</span>
    <input
      type="text"
      placeholder="KhaledPharma221"
      class="input input-bordered w-full"
      formControlName="userName"
    />
  </label>
  <label class="form-control w-full mt-10">
    <span class="mb-2 ml-1">Email</span>
    <input
      type="text"
      placeholder="example@something.com"
      class="input input-bordered w-full"
      formControlName="email"
    />
  </label>
  <label class="form-control w-full mt-10">
    <span class="mb-2 ml-1">Password</span>
    <input
      type="password"
      class="input input-bordered w-full"
      formControlName="password"
    />
  </label>
  <label class="form-control w-full my-10">
    <span class="mb-2 ml-1">Confirm Password</span>
    <input
      type="password"
      class="input input-bordered w-full"
      formControlName="passwordConfirmation"
    />
  </label>
  <div class="divider divider-neutral">Personal Information</div>
  <label class="form-control w-full my-10">
    <span class="mb-2 ml-1">First Name</span>
    <input
      type="text"
      placeholder="Khaled"
      class="input input-bordered w-full"
      formControlName="firstName"
    />
  </label>
  <label class="form-control w-full mt-10">
    <span class="mb-2 ml-1">Last Name</span>
    <input
      type="text"
      placeholder="Awadallah"
      class="input input-bordered w-full"
      formControlName="lastName"
    />
  </label>
  <label class="form-control w-full mt-10">
    <span class="mb-2 ml-1">Phone Number</span>
    <input
      type="text"
      placeholder="05XXXXXXXXX"
      class="input input-bordered w-full"
      formControlName="phoneNumber"
    />
  </label>
  <label class="form-control w-full mt-10">
    <span class="mb-2 ml-1"
      >Address
      <div class="badge badge-ghost">optional</div></span
    >
    <input
      type="text"
      placeholder="Al Shifaa District, Africa St"
      class="input input-bordered w-full"
      formControlName="address"
    />
  </label>
  <label class="form-control w-full my-10 mb-2 ml-1" for="gender">Gender</label>
  <select
    formControlName="gender"
    id="gender"
    class="select select-bordered w-full"
  >
    <option disabled selected>Gender</option>
    <option value="0">Male</option>
    <option value="1">Female</option>
  </select>
  <div class="divider divider-neutral">Employment Information</div>
  <label class="form-control w-full mt-10 mb-2 ml-1" for="role">Role</label>
  <select
    formControlName="roleId"
    (change)="handleRoleSelect($event)"
    id="role"
    class="select select-bordered w-full"
  >
    <option disabled selected>Role</option>
    @for (role of usersMetadata?.roles; track role.id) {
    <option value="{{ role.id }}">{{ role.name }}</option>
    }
  </select>

  <label class="form-control w-full mt-10 mb-2 ml-1" for="branch">Branch</label>
  <select
    formControlName="branchId"
    (change)="handleBranchSelect($event)"
    id="branch"
    class="select select-bordered w-full"
  >
    <option disabled selected>Branch</option>
    @for (branch of usersMetadata?.branches; track branch.id) {
    <option value="{{ branch.id }}">{{ branch.name }}</option>
    }
  </select>

  <label class="form-control w-full my-10 mb-2 ml-1" for="manager"
    >Manager</label
  >
  <select
    formControlName="managerId"
    id="manager"
    class="select select-bordered w-full"
  >
    <option disabled selected>Manager</option>
    @for (manager of managers; track manager.id) {
    <option value="{{ manager.id }}">{{ manager.fullName }}</option>
    }
  </select>
  <button type="submit" class="btn btn-info mt-7">Create User</button>
</form>
