<table class="table mt-5">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th>Branch</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @if (!loading) { @for (user of usersList; track user.id) {
    <tr class="hover">
      <td>
        <div class="flex items-center gap-3">
          <div class="avatar">
            <div class="mask mask-squircle h-12 w-12">
              <img
                src="https://img.daisyui.com/images/profile/demo/2@94.webp"
                alt="Avatar Tailwind CSS Component"
              />
            </div>
          </div>
          <div>
            <div class="font-bold">{{ user.fullName }}</div>
          </div>
        </div>
      </td>
      <td>
        <span class="badge badge-ghost">{{ user.roleName }}</span>
      </td>
      <td>{{ user.branchName }}</td>
      <th>
        <a routerLink="{{ user.id }}" class="btn btn-secondary btn-sm"
          >details</a
        >
      </th>
    </tr>
    }} @else {
    <tr>
      <td><div class="skeleton h-8 w-full"></div></td>
      <td><div class="skeleton h-8 w-full"></div></td>
      <td><div class="skeleton h-8 w-full"></div></td>
    </tr>
    <tr>
      <td><div class="skeleton h-8 w-full"></div></td>
      <td><div class="skeleton h-8 w-full"></div></td>
      <td><div class="skeleton h-8 w-full"></div></td>
    </tr>
    <tr>
      <td><div class="skeleton h-8 w-full"></div></td>
      <td><div class="skeleton h-8 w-full"></div></td>
      <td><div class="skeleton h-8 w-full"></div></td>
    </tr>
    <tr>
      <td><div class="skeleton h-8 w-full"></div></td>
      <td><div class="skeleton h-8 w-full"></div></td>
      <td><div class="skeleton h-8 w-full"></div></td>
    </tr>
    <tr>
      <td><div class="skeleton h-8 w-full"></div></td>
      <td><div class="skeleton h-8 w-full"></div></td>
      <td><div class="skeleton h-8 w-full"></div></td>
    </tr>
    }
  </tbody>
</table>
